<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74904330957-pm69egm8of8s0fg75u1n4tf7atnikau1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74904330957-pm69egm8of8s0fg75u1n4tf7atnikau1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74904330957-8e8m4av9pvmd2uku6dbv1anjbvl1501t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAre0ElK_M8iUBV-8XcCINeksZaP9tZ_Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>74904330957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agrismart</string>
	<key>PROJECT_ID</key>
	<string>agro-smart-dec18</string>
	<key>STORAGE_BUCKET</key>
	<string>agro-smart-dec18.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74904330957:ios:9af96aac9a8d4cd1b47f84</string>
	<key>DATABASE_URL</key>
	<string>https://agro-smart-dec18-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>